<div id="faculty-dashboard-container">
    <button type="button" class="btn btn-secondary" id="faculty-view-courses-button">View Taught Courses</button>
    <button type="button" class="btn btn-secondary" id="faculty-add-course-button">Add Course</button>
    <button type="button" class="btn btn-secondary" id="faculty-edit-course-button">Change Course Details</button>
    <button type="button" class="btn btn-secondary" id="faculty-remove-course-button">Remove Class</button>

    <div id="courses-container">
        

    </div>
</div>